body {
  overflow-x: hidden;
  font-family: Verdana, sans-serif;
}

.body{
  font-family: Verdana, sans-serif;
  background-image: none;
}

.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
}

.button-33:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.price-summary {
    border: 1px solid black;
    padding: 5%;
    margin-bottom: 10px;
  }
  
  .price-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .price-value {
    margin-left: 10px;
  }
  
  .price-value strong {
    font-weight: bold;
  }


  

.cart-section {
    border: 1px solid black;
    margin-bottom: 10px;
    margin-left: -3%;
    width:37.5rem
  }
  
  .cart-section-content {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    padding:5%
  }
  
  .cart-section-row {
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  
  .cart-section-price {
    margin-left: 10px;
  }
  

hr {
  position: relative;
  width: 100%;
  margin-top: 30px;
  border: none;
  border-top: 1px solid black;
}
.baggage-section {
  border: 1px solid black;
  padding: 10px;
}



.baggage-section-subtitle {
  border-top: 1px solid #ccc;
  padding-top: 5px;
  margin-top: 10px;
}

.baggage-section-row {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.trip-card {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
}

.trip-info-item {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.trip-info-title {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.button-33 {
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .trip-card {
    padding-bottom: 10px;
  }

  .trip-info-title {
    font-size: 18px;
  }

  .trip-info-subtitle {
    font-size: 16px;
  }
}

.button-88 {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-88:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.button-88:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}